
.factsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  margin: 13px;
border-radius: 20px;
width: 1250px;
height: 258px;
}
.factsLeft{
    flex: 5;
}
.factsRight{
    flex:7;
}
.adoptLoveImg{
    width: 60%;
    margin-left:82px;   
}


.heading{
    font-size: 45px;
}
.adoptButton{
    border-radius:10px;
    border-color: black;
    background-color: white;
    transition: all 300ms ease-in;
}
.adoptButton:hover{
    transform: scale(1.1);
    color:white;
    background-color: black;
}